RewriteEngine On

RewriteRule ^home/?$ 							index.php
RewriteRule ^login/?$							index.php?com=user&task=login  [QSA]
RewriteRule ^logout/?$ 	 						index.php?com=user&task=logout  [QSA]
RewriteRule ^profile/?$ 						index.php?com=user&task=profile  [QSA]
RewriteRule ^forgotpass/?$  					index.php?com=user&task=forgot  [QSA]
RewriteRule ^changepass/?$  					index.php?com=user&task=changepass  [QSA]
RewriteRule ^changetpass/?$  					index.php?com=user&task=changetpass  [QSA]

# Account
RewriteRule ^account/?$ 						index.php?com=account
RewriteRule ^account/report?$ 					index.php?com=account&task=report [QSA]
RewriteRule ^account/view?$ 					index.php?com=account&task=view [QSA]

# config
RewriteRule ^config/?$ 							index.php?com=config  [QSA]

# wallet API
RewriteRule ^create_wallet/?$ 					api/create_wallet.php

# wallet
RewriteRule ^wallet/?$ 							index.php?com=wallet [QSA]
RewriteRule ^wallet_detail/([0-9A-Za-z]+)?$ 	index.php?com=wallet&task=detail&userid=$1 [QSA]

# report
RewriteRule ^report/?$ 							index.php?com=report [QSA]
RewriteRule ^report/hocphi?$ 					index.php?com=report&task=hocphi [QSA]
RewriteRule ^report/nganhhoc?$ 					index.php?com=report&task=nganhhoc [QSA]
RewriteRule ^report/hoso/?$ 					index.php?com=report&task=hoso [QSA]
RewriteRule ^report/hoso/tonghop?$ 				index.php?com=report&task=hoso_tonghop [QSA]
RewriteRule ^report/hoso/tinhthanh?$ 			index.php?com=report&task=hoso_tinhthanh [QSA]
RewriteRule ^report/hoso/doitac?$ 				index.php?com=report&task=hoso_doitac [QSA]

# User
RewriteRule ^user/?$ 							index.php?com=user
RewriteRule ^user/add?$ 						index.php?com=user&task=add
RewriteRule ^user/edit/([0-9]+)?$ 				index.php?com=user&task=edit&id=$1
RewriteRule ^user/active/([0-9]+)?$ 			index.php?com=user&task=active&id=$1
RewriteRule ^user/delete/([0-9]+)?$ 			index.php?com=user&task=delete&id=$1
RewriteRule ^user/changepass/([0-9]+)?$ 		index.php?com=user&task=changepass&id=$1

# notify
RewriteRule ^notify/?$ 							index.php?com=notify [QSA]

<Ifmodule mod_php5.c>
	php_value upload_max_filesize 20M
	php_value max_execution_time  1000
	php_value max_input_time  1000
	php_value memory_limit  256M
	php_value post_max_size  20M
	php_flag register_globals  off
	php_flag display_errors  on
	php_flag file_uploads  on
	php_flag log_errors  on
	php_flag output_buffering  off
	php_flag register_argc_argv  on
	php_flag magic_quotes_gpc   off
	php_flag magic_quotes_runtime  off
	php_flag magic_quotes_sybase  off
	php_flag mysql.allow_persistent  off
	php_flag register_long_arrays  on
	php_flag allow_url_fopen  on
	php_flag cgi.force_redirect  on
	php_flag enable_dl  on
	php_flag safe_mode off
</Ifmodule>

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>

# DISABLE CACHING
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>